@font-face {
    font-family: 'Pixeloid Sans';
    src: url('fonts/PixeloidSans-mLxMm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg: #003366;
    --border-bg: aliceblue;
    --header: #228B22;
    --text: #333;
    --text-lighter: #666;
    --highlight: #fff;
    --rumor-border: #ddd;
    --rumor-main: #f9f9f9;
    --rumor-main-completed: #94d83c;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg);
    font-family: "Pixeloid Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.border1 {
    width: 90%;
    max-width: 600px;
    border: 2px solid;
    background-color: var(--border-bg);
    padding: 20px;
    box-sizing: border-box;
}

.border2 {
    width: 100%;
    border: 2px solid;
    background-color: var(--border-bg);
    padding: 20px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    border: 2px solid;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    color: var(--highlight);
}

.rumor-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--rumor-border);
    border-radius: 5px;
    background-color: var(--rumor-main);
}

.rumor-title {
    font-size: 22px;
    color: var(--bg);
    margin: 0 0 10px;
}

.rumor-content {
    font-size: 18px;
    color: var(--text);
    margin: 0 0 10px;
}


.rumor-author {
    font-size: 14px;
    color: var(--text-lighter);
    margin: 0;
}

.rumor-completed{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--rumor-border);
    border-radius: 5px;
    background-color: var(--rumor-main-completed);
}

.credits {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--text-lighter);
}

@media (max-width: 768px) {
    .title, .rumor-title, .rumor-content, .rumor-author {
        font-size: smaller;
    }
}

@media (max-width: 480px) {
    .border1 {
        width: 95%;
    }

    .header {
        height: 40px;
    }

    .credits {
        font-size: 12px;
    }
}
