@import url('https://fonts.cdnfonts.com/css/nintendo-ds-bios');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #003366;
    font-family: "Nintendo DS BIOS", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.border1 {
    width: 90%;
    max-width: 600px; /* Largura máxima para grandes telas */
    border: 2px solid;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
}

.border2 {
    width: 100%;
    border: 2px solid;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    border: 2px solid;
    background-color: #228B22;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    color: #fff;
}

.rumor-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.rumor-title {
    font-size: 22px;
    color: #003366;
    margin: 0 0 10px;
}

.rumor-content {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}

.rumor-author {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.credits {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #666;
}

/* Media Queries para ajustar a responsividade */
@media (max-width: 768px) {
    .title, .rumor-title, .rumor-content, .rumor-author {
        font-size: smaller; /* Ajusta o tamanho da fonte para telas menores */
    }
}

@media (max-width: 480px) {
    .border1 {
        width: 95%; /* Ajusta a largura para telas muito pequenas */
    }

    .header {
        height: 40px; /* Ajusta a altura do cabeçalho para telas pequenas */
    }

    .credits {
        font-size: 12px; /* Ajusta o tamanho da fonte dos créditos para telas pequenas */
    }
}
