

@font-face {
    font-family: 'Pixeloid Sans';
    src: url('fonts/PixeloidSans-mLxMm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    .title, .rumor-title, .rumor-content, .rumor-author {
        font-size: smaller;
    }

    .header .title {
        font-size: 20px;
    }
}

@media (max-width: 480px) {

    .container {
        width: 100%;
    }

    .header .title {
        font-size: 16px;
    }

    .credits {
        font-size: 12px;
    }

    .rumor-item .rumor-content,
    .rumor-completed .rumor-content {
        font-size: 14px;
    }

    .rumor-item .rumor-title,
    .rumor-completed .rumor-title {
        font-size: 16px;
    }

    .rumor-author {
        font-size: 12px;
    }


}


:root{
    --title: #003366;
    --bg: #094b8e;
    --border-bg: aliceblue;
    --header: #2dc23d;
    --text: #333;
    --text-lighter: #666;
    --white: #fff;
    --rumor-border: #ddd;
    --rumor-main: #f9f9f9;
    --rumor-main-completed: #9deb37;
    --rumor-completed-hover: #93ce35;
    --rumor-main-hover: #a9a9a9;
    --button-idle: #22b02e;
    --button-hover: #179d1f;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg);
    font-family: "Pixeloid Sans", sans-serif;
    background-image: url("bgimg/bgimg.png");
    background-position: left top;
    background-size: 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.border1 {
    width: 90%;
    max-width: 750px;
    border: 2px solid;
    background-color: var(--border-bg);
    padding: 20px;
    box-sizing: border-box;
}

.border2 {
    width: 100%;
    border: 2px solid;
    background-color: var(--border-bg);
    padding: 20px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    border: 2px solid;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    color: var(--white);
}

.rumor-item,
.rumor-completed {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--rumor-border);
    border-radius: 5px;
    background-color: var(--rumor-main);
    opacity: 1;
}

.rumor-completed{
    background-color: var(--rumor-main-completed);
}

.rumor-title {
    font-size: 22px;
    color: var(--title);
    margin: 0 0 10px;
}

.rumor-content {
    font-size: 18px;
    color: var(--text);
    margin: 0 0 10px;
}


.rumor-author {
    font-size: 14px;
    color: var(--text-lighter);
    margin: 0;
}


.rumor-item:hover {
    background-color: var(--rumor-main-hover);
    transition: background-color 0.3s ease;
}

.rumor-completed:hover {
    background-color: var(--rumor-completed-hover);
    transition: background-color 0.3s ease;
}

.credits {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--text-lighter);
}

.reaction-buttons {
    margin-top: 10px;
}

button {
    font-family: "Pixeloid Sans", sans-serif;
    background-color: var(--button-idle);
    color: var(--white);
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: var(--button-hover);
}

button:focus {
    outline: none;
}

.like-button, .dislike-button {
    display: inline-flex;
    align-items: center;
}

.like-button span, .dislike-button span {
    margin-left: 5px;
    margin-top: 5px;
}

.pages {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pages button {
    font-family: "Pixeloid Sans", sans-serif;
    background-color: var(--button-idle);
    color: var(--white);
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pages button:hover {
    background-color: var(--button-hover);
}

.pages button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

